<div class="top-row-menu main-block">
    <nav class="main-block">
        <div class="top-row-menu-links main-block">
            <a class="top-row-menu-logo" href="/" title="Healthy lifestyle">
                <span>logo</span>
            </a>
            <div class="top-row-menu-ref">
                <span>Diet</span>
                <span>Exercises</span>
                <span>Authorisation</span>
            </div>
        </div>
    </nav>
</div>