{% extends 'base.html.twig' %}
{% block body %}
<div id="app">
    {% include "start_page/header_menu.html.twig" %}
    <div class="instruments-part main-block">
        <ul class="instruments-block">
            <li class="instrument-options">
                <a class="instruments-links" href="/calculator">Calorie calculator</a>
            </li>
            <li class="instrument-options">
                <a class="instruments-links" href="calories-diary">Calorie diary</a>
            </li>
        </ul>
        <div class="healthy-food-img">
            <img class=healthy-food-img src="images/healthy_food.jpg" alt="a plate with food">
        </div>
    </div>
</div>
{% endblock %}
