<!DOCTYPE html>
<html lang="en">
<head>
    <title>Healthy lifestyle</title>
    <link {{ encore_entry_link_tags('app') }}>
</head>
<body>
<div id="start-page">
    <div class="top-row-menu main-block">
        <nav class="main-block">
            <div class="top-row-menu-links main-block">
                <a class="top-row-menu-logo" href="/" title="Healthy lifestyle">
                    <span>logo</span>
                </a>
                <div class="top-row-menu-ref">
                    <span>Diet</span>
                    <span>Exercises</span>
                    <span>Authorisation</span>
                </div>
            </div>
        </nav>
    </div>
    <div class="instruments-part main-block">
        <ul class="instruments-block">
            <li class="instrument-options">
                <a class="instruments-links" href="calories-calculator">Calorie calculator</a>
            </li>
            <li class="instrument-options">
                <a class="instruments-links" href="calories-diary">Calorie diary</a>
            </li>
        </ul>
        <div class="healthy-food-img">
            <img class=healthy-food-img src="images/healthy_food.jpg" alt="a plate with food">
        </div>
    </div>
</div>
</body>

